@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@inject IJSRuntime JSRuntime
@using Microsoft.JSInterop;
@using System.Collections.Generic;

Testing123
@if (list != null) {
  <div >
      @foreach (var item in list)
      {
        <div>
         @item
        </div>
      }
   </div>
}

@code{
  private List<string> list = new List<string>();

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await InitWebComponentAsync();
    }
  }

  private async Task InitWebComponentAsync()
  {
    var result = await JSRuntime.InvokeAsync<object>("asyncLocalStorageGetItem", "ttest");

    Console.WriteLine(result);
  }


}
